@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lora-font {
  font-family: 'Lora', serif;
}

.card-img {
  clip-path: circle(50% at 50% 50%);
}
